body {
    background: #FF705C;
    text-align: center;
    margin-bottom: 20px;
    h1 {
        font-size: 35px;
    }
    #listwrapper {
        padding: 10px;
        margin-bottom: 25px;
        
    }
    
    #taskwrapper {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 20px;
    }
} 

